@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,600&family=Roboto:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .App{
     width: 90%;
     margin: 0 auto;
   }  */
.header {
  width: 100%;
  background-color: rgba(3, 42, 214, 0.829);
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  padding: 10px 6%;
}
.sokohead-text {
  margin: 0;
}
.sokohead-span {
  font-weight: 600;
  font-size: 15px;
}
.sokohead-cart {
  width: 15px;
}
.head-nav {
  width: 85%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
}
.intro1 {
  display: flex;
  align-items: center;
}
.intro-home {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d3d3d3;
  text-align: center;
  align-items: center;
  margin-right: 12px;
  position: relative;
}
.introhome-icon {
  width: 30px;
  position: absolute;
  top: 20%;
  left: 20%;
}
.head-target,
.footer-target {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: black;
  font-family: 700;
}
.intro-nav {
  display: flex;
}
.intronav-item {
  list-style: none;
  margin: 0 10px;
}
.nav-shoppingicon,
.nav-usericon {
  width: 15px;
  margin: 0 10px;
}
.features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(3, 42, 214, 0.829);
  color: rgb(194, 194, 194);
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  padding: 3% 28%;
  text-align: center;
}
.feature-image {
  width: 40px;
}
.footer {
  text-align: center;
  margin: 3% 0;
}
.store-details {
  margin: 0;
  color: rgb(194, 194, 194);
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.home-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  position: relative;
  align-items: start;
}
.line {
  display: block;
  width: 100%;
  border: 0.2px solid rgba(0, 0, 0, 0.2);
}
.search-bar {
  position: absolute;
  top: -3.5%;
  left: 24.5%;
  width: 51%;
}
.electronics-container {
  margin: 0 auto;
  padding: 2% 2% 5%;
  border-left: 0.2px solid rgba(0, 0, 0, 0.2);
  border-right: 0.2px solid rgba(0, 0, 0, 0.2);
}
.bag-container {
  padding: 2% 0 0 5%;
  text-align: center;
}
.emptycart-icon {
  margin: 8% 0 5%;
}
.categorypage-header,
.bag-header {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.bag-count {
  margin-left: 8px;
}
.categoryproduct-count,
.bag-count {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: rgba(3, 42, 214, 0.829);
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}
.product-card {
  display: grid;
  grid-template-columns: 100px 2fr 80px;
  align-items: center;
  margin: 0;
}

.add-btn {
  border-radius: 5px;
  padding: 0 10px;
  background-color: transparent;
  border: 2px solid rgba(3, 42, 214, 0.829);
  color: rgba(3, 42, 214, 0.829);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.product-name,
.categorypage-name,
.bagheader-name,
.product-price,
.old-price,
.head-address,
.footer-address,
.category,
.intronav-item,
.start-shopping,
.emptycart-text {
  font-family: "Roboto", sans-serif;
  color: #36454f;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}
.product-price,
.old-price,
.head-address,
.footer-address,
.category,
.intronav-item,
.start-shopping {
  color: grey;
  font-size: 14px;
  font-weight: 500;
}
.old-price {
  text-decoration: line-through;
}
.categories-container,
.bag-container {
  padding-top: 2%;
  width: 25%;
}

.category {
  list-style: none;
  margin: 10px 0;
  padding: 5px 0;
}
.category:hover {
  cursor: pointer;
  color: rgba(3, 42, 214, 0.829);
  background: linear-gradient(to right, white, rgb(185, 185, 223));
  border-right: 3px solid rgba(3, 42, 214, 0.829);
}

.category-cta {
  display: flex;
  width: 60%;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgba(3, 42, 214, 0.829);
}
.category-cta:hover,
.add-btn:hover,
.intronav-item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.arrow {
  width: 10px;
}
.all-categories {
  margin: 0;
}
.chat-btn {
  margin: 1.5% 0;
  background-color: #25d366;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  padding: 0 10px;
  font-size: 13px;
  border-radius: 2px;
  border: transparent;
}
.chat-icon {
  width: 30px;
}
